
.about__people {
    padding: 5%;
}

.about__people > div {
    display: flex;
    align-items: center;
    margin: 5% 0;
} 
.col-lg-4 {
    text-align: center;
}
img {
    height: auto;
    width: 50%;
    background-color: var(--blue);
    border-radius: 50%;
    margin: 10%;
}